<!DOCTYPE html>
<html>
<head>
  <title>Applicationbogofy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Give+You+Glory' rel='stylesheet' type='text/css'>
</head>
<body>
<div>
<% unless user_signed_in? %>
	<%= link_to "Login", new_user_session_path %> or
	<%= link_to "Sign up", new_user_registration_path %>
<% end %>	
</div>
<%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</body>
</html>
